Repository paranext/paranext-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tjcouch-sil, @lyonsil, @irahopkinson, @jolierabideau, @rolfheij-sil

Add unit tests to BookChapter components (#1753)
  lib/platform-bible-react/package.json
  lib/platform-bible-react/src/components/advanced/book-chapter-control/book-chapter-control.navigation.test.ts
  lib/platform-bible-react/src/components/advanced/book-chapter-control/book-chapter-control.utils.test.ts
  lib/platform-bible-react/vitest.config.ts
  package-lock.json
Owners: @jolierabideau, @rolfheij-sil, @tjcouch-sil, @lyonsil, @irahopkinson

Change Github macOS runner version from latest to 14 (#1776)
  .github/workflows/package-main.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
Owners: @lyonsil, @tjcouch-sil, @irahopkinson

PT-2202: Set Focused Tab (#1751)
  extensions/src/platform-scripture-editor/src/editor-dom.util.ts
  extensions/src/platform-scripture-editor/src/main.ts
  extensions/src/platform-scripture-editor/src/platform-scripture-editor.web-view.tsx
  extensions/src/platform-scripture-editor/src/types/platform-scripture-editor.d.ts
  extensions/src/platform-scripture/src/find.web-view-provider.ts
  extensions/src/platform-scripture/src/find.web-view.tsx
  extensions/src/platform-scripture/src/find/search-result.component.tsx
  extensions/src/platform-scripture/src/main.ts
  lib/papi-dts/papi.d.ts
  lib/platform-bible-utils/dist/index.cjs
  lib/platform-bible-utils/dist/index.cjs.map
  lib/platform-bible-utils/dist/index.d.ts
  lib/platform-bible-utils/dist/index.js
  lib/platform-bible-utils/dist/index.js.map
  lib/platform-bible-utils/src/usj-reader-writer.model.ts
  lib/platform-bible-utils/src/usj-reader-writer.test.ts
  lib/platform-bible-utils/src/usj-reader-writer.ts
  patches/rc-dock+3.3.2.patch
  src/main/main.ts
  src/renderer/components/docking/platform-dock-layout-storage.util.ts
  src/renderer/components/docking/platform-dock-layout.component.tsx
  src/renderer/components/docking/platform-panel.component.tsx
  src/renderer/components/docking/platform-tab-title.component.tsx
  src/renderer/components/web-view.component.tsx
  src/renderer/services/web-view.service-host.ts
  src/renderer/services/window.service-host.ts
  src/shared/models/docking-framework.model.ts
  src/shared/services/papi-core.service.ts
  src/shared/services/window.service-model.ts
Owners: @tjcouch-sil, @lyonsil, @irahopkinson, @rolfheij-sil, @jolierabideau

PT-3341: BookChapter control follow-up work (#1764)
  lib/platform-bible-react/package.json
  lib/platform-bible-react/src/components/advanced/book-chapter-control/book-chapter-control.component.tsx
  lib/platform-bible-react/src/components/advanced/book-chapter-control/book-chapter-control.navigation.test.ts
  lib/platform-bible-react/src/components/advanced/book-chapter-control/book-chapter-control.utils.ts
  lib/platform-bible-react/src/components/advanced/tab-toolbar.component.tsx
  package-lock.json
  src/renderer/components/platform-bible-toolbar.tsx
Owners: @jolierabideau, @rolfheij-sil, @tjcouch-sil, @lyonsil, @irahopkinson

algin home and new tab (#1779)
  extensions/src/platform-get-resources/src/home.component.tsx
  extensions/src/platform-get-resources/src/home.stories.tsx
  extensions/src/platform-get-resources/src/home.web-view.tsx
  extensions/src/platform-get-resources/src/new-tab.web-view.tsx
Owners: none

Fix React synchronous unmount error and memory leaks (#1783)
  extensions/src/platform-scripture/src/project-data-provider/platform-scripture-finder-pdpe.model.ts
  lib/platform-bible-utils/dist/index.cjs
  lib/platform-bible-utils/dist/index.cjs.map
  lib/platform-bible-utils/dist/index.d.ts
  lib/platform-bible-utils/dist/index.js
  lib/platform-bible-utils/dist/index.js.map
  lib/platform-bible-utils/src/async-variable.ts
  src/extension-host/services/extension.service.ts
  src/main/main.ts
  src/renderer/components/web-view.component.tsx
  src/renderer/global-this-web-view.model.ts
  src/renderer/services/web-view.service-host.ts
  src/shared/services/network.service.ts
Owners: @rolfheij-sil, @tjcouch-sil, @lyonsil, @jolierabideau, @irahopkinson

Fix z-order issue with Error Popover (#1775)
  assets/localization/en.json
  assets/localization/metadata.json
  lib/platform-bible-react/package.json
  lib/platform-bible-react/src/components/advanced/error-popover.component.tsx
  lib/platform-bible-react/src/components/basics/error-dump.component.tsx
  lib/platform-bible-react/src/components/shadcn-ui/popover.tsx
  lib/platform-bible-react/src/index.ts
  lib/platform-bible-react/src/stories/advanced/error-popover.stories.tsx
  package-lock.json
  package.json
  src/renderer/components/settings-tabs/settings-components/setting.component.tsx
  src/renderer/components/settings-tabs/settings-components/settings.component.scss
Owners: @jolierabideau, @rolfheij-sil, @tjcouch-sil, @lyonsil, @irahopkinson

PT-3411: Fixed rc-dock throwing and breaking completely when dragging a tab under certain conditions (#1785)
  patches/rc-dock+3.3.2.patch
  src/shared/models/project-lookup.service-model.ts
Owners: none

Upgrade root Storybook and align with PBR Storybook (#1782)
  .storybook/main.ts
  .storybook/preview.ts
  extensions/src/platform-get-resources/src/home.stories.tsx
  lib/platform-bible-react/.storybook/main.ts
  lib/platform-bible-react/package.json
  lib/platform-bible-react/src/stories/advanced/error-popover.stories.tsx
  package-lock.json
  package.json
  src/stories/basics/button.stories.tsx
  src/stories/basics/checkbox.stories.tsx
  src/stories/basics/combo-box.stories.tsx
  src/stories/basics/slider.stories.ts
  src/stories/basics/switch.stories.ts
  src/stories/basics/text-field.stories.ts
  src/stories/basics/toolbar.stories.tsx
  src/stories/platform/book-chapter-control.stories.tsx
  src/stories/platform/platform-dock-layout.stories.tsx
Owners: @jolierabideau, @rolfheij-sil, @tjcouch-sil, @lyonsil, @irahopkinson

PT-3107: Improve release workflow (#1781)
  .erb/scripts/bump-versions.ts
  .github/actions/bump-versions-action/action.yml
  .github/workflows/bump-versions.yml
  .github/workflows/publish.yml
  README.md
Owners: @tjcouch-sil, @lyonsil, @irahopkinson

3107: Fixed typo (#1786)
  .erb/scripts/bump-versions.ts
Owners: @tjcouch-sil, @lyonsil, @irahopkinson

Add menu button variant of tab toolbar
  extensions/src/hello-rock3/src/web-views/hello-rock3.web-view.tsx
  lib/platform-bible-react/src/components/advanced/tab-toolbar.component.tsx
  lib/platform-bible-react/src/components/advanced/tab-toolbar/tab-floating-menu-button.component.tsx
  lib/platform-bible-react/src/components/advanced/tab-toolbar/tab-toolbar-container.component.tsx
  lib/platform-bible-react/src/components/advanced/tab-toolbar/tab-toolbar.component.tsx
  lib/platform-bible-react/src/index.ts
  lib/platform-bible-react/src/preview/pages/components/advanced/tab-floating-menu-button-example.component.tsx
  lib/platform-bible-react/src/stories/advanced/tab-toolbar.stories.tsx
Owners: @jolierabideau, @rolfheij-sil, @tjcouch-sil, @lyonsil, @irahopkinson

Add Tab menu to Hello Rock 3 extension + code review changes
  lib/platform-bible-react/src/components/advanced/tab-toolbar.component.tsx
  lib/platform-bible-react/src/components/advanced/tab-toolbar/tab-floating-menu-button.component.tsx
  lib/platform-bible-react/src/preview/pages/components/advanced.component.tsx
  lib/platform-bible-react/src/preview/pages/components/advanced/tab-toolbar-example.component.tsx
  lib/platform-bible-react/src/stories/advanced/tab-floating-menu-button.stories.tsx
  lib/platform-bible-react/src/stories/advanced/tab-toolbar.stories.tsx
Owners: @jolierabideau, @rolfheij-sil, @tjcouch-sil, @lyonsil, @irahopkinson

Fix files after rebase
  lib/platform-bible-react/dist/index.cjs
  lib/platform-bible-react/dist/index.cjs.map
  lib/platform-bible-react/dist/index.d.ts
  lib/platform-bible-react/dist/index.js
  lib/platform-bible-react/dist/index.js.map
  lib/platform-bible-react/src/components/advanced/tab-toolbar.component.tsx
  lib/platform-bible-react/src/stories/advanced/tab-floating-menu-button.stories.tsx
  lib/platform-bible-react/src/stories/advanced/tab-toolbar.stories.tsx
Owners: @jolierabideau, @rolfheij-sil, @tjcouch-sil, @lyonsil, @irahopkinson

Remove requested menu items (#1790)
  extensions/src/platform-lexical-tools/contributions/menus.json
  src/extension-host/data/menu.data.json
Owners: none

Colors - remove debug colors - style background colors to visually differentiate objects
  src/renderer/app.component.scss
  src/renderer/components/docking/dock-layout-wrapper.component.scss
  src/renderer/components/docking/platform-tab-title.component.scss
  src/renderer/components/docking/readme.md
  src/renderer/styles/_vars.scss
Owners: none

Move the New Tab (+) button to be immediately after the tab headers list
  src/renderer/components/docking/dock-layout-wrapper.component.scss
Owners: none

✅ Fix contrast problem on tab close button
  src/renderer/components/docking/dock-layout-wrapper.component.scss
  src/renderer/components/docking/panel-extra-content.component.scss
  src/renderer/components/docking/platform-dock-layout-positioning.util.ts
  src/renderer/components/docking/readme.md
Owners: none

Add a bit of spacing around the whole layout
  src/renderer/components/docking/platform-dock-layout.component.tsx
  src/renderer/components/docking/readme.md
Owners: none

Format and remove unneeded
  src/renderer/components/docking/dock-layout-wrapper.component.scss
Owners: none

fix styling of overflow (more) menu items
  src/renderer/components/docking/dock-layout-wrapper.component.scss
  src/renderer/components/docking/platform-tab-title.component.scss
  src/renderer/components/docking/readme.md
Owners: none

Avoid clipping concave tab header corners
  src/renderer/components/docking/dock-layout-wrapper.component.scss
Owners: none

add TODO
  src/renderer/components/docking/readme.md
Owners: none

Merge dock-layout-additions.component.scss into src/renderer/components/docking/dock-layout-wrapper.component.scss
  src/renderer/components/docking/dock-layout-additions.component.scss
  src/renderer/components/docking/dock-layout-wrapper.component.scss
Owners: none

Hide tab header separators when they'd interfere with hover or active Reset rc-dock's blue focus
  src/renderer/components/docking/dock-layout-wrapper.component.scss
Owners: none

Reset rc-dock's default scaling of dividers so their grab area matches their visual size. Without this, the dividers are 3x larger—easier to grab, but get in the way of grabbing tab groups.
  src/renderer/components/docking/dock-layout-wrapper.component.scss
Owners: none

Added shadows to tab-groups for more visual contrast
  src/renderer/components/docking/dock-layout-wrapper.component.scss
Owners: none

Narrower tab headers https://ptb.discord.com/channels/1064938364597436416/1397490838883405875/1399456043951460433
  src/renderer/components/docking/dock-layout-wrapper.component.scss
  src/renderer/styles/_vars.scss
Owners: none

Use `unset` for styles that turn off rc-dock defaults
  src/renderer/components/docking/dock-layout-wrapper.component.scss
Owners: none

Comment on deletion candidates
  src/renderer/components/docking/dock-layout-wrapper.component.scss
  src/renderer/components/docking/platform-tab-title.component.scss
Owners: none

Make dock-bar touch dock-content-holder
  src/renderer/components/docking/dock-layout-wrapper.component.scss
Owners: none

Visually merge the selected tab header and dock-tabpan backgrounds
  src/renderer/components/docking/dock-layout-wrapper.component.scss
Owners: none

Comment on custom rc-dock classes to make them easier to find later
  src/renderer/components/docking/platform-dock-layout-positioning.util.ts
Owners: none

Draft a nomenclature for what to call tabs that are selected in their group vs the last-used tab vs actually focused within
  src/renderer/components/docking/dock-layout-wrapper.component.scss
Owners: none

clarifying classNames for our rc-dock customizations
  src/renderer/components/docking/dock-layout-wrapper.component.scss
  src/renderer/components/docking/panel-extra-content.component.tsx
  src/renderer/components/docking/platform-tab-title.component.tsx
Owners: none

planning notes
  src/renderer/components/docking/readme.md
Owners: none

Add color to highlight animation
  src/renderer/components/docking/dock-layout-wrapper.component.scss
Owners: none

Add window focus styling to tab content
  src/renderer/components/docking/platform-tab-title.component.tsx
Owners: none

Add highlight styling to tabs
  src/renderer/components/docking/dock-layout-additions.component.scss
  src/renderer/components/docking/dock-layout-wrapper.component.scss
  src/renderer/components/docking/platform-tab-title.component.scss
Owners: none

Colors - remove debug colors - style background colors to visually differentiate objects
  src/renderer/app.component.scss
  src/renderer/components/docking/dock-layout-wrapper.component.scss
  src/renderer/components/docking/platform-tab-title.component.scss
  src/renderer/components/docking/readme.md
  src/renderer/styles/_vars.scss
Owners: none

.github/CODEOWNERS:

/.erb @tjcouch-sil @lyonsil @irahopkinson
/.github @lyonsil @tjcouch-sil @irahopkinson

# all of extensions but src folder
/extensions @tjcouch-sil @lyonsil @irahopkinson
/extensions/src

# extension apis
/extensions/src/legacy-comment-manager/src/types/legacy-comment-manager.d.ts @lyonsil @tjcouch-sil @irahopkinson
/extensions/src/paratext-registration/src/types/paratext-registration.d.ts @tjcouch-sil @lyonsil
/extensions/src/platform-lexical-tools/src/types/platform-lexical-tools.d.ts @tjcouch-sil @lyonsil @jolierabideau
/extensions/src/platform-scripture-editor/src/types/platform-scripture-editor.d.ts @tjcouch-sil @lyonsil @irahopkinson
/extensions/src/platform-scripture/src/types/platform-scripture.d.ts @tjcouch-sil @lyonsil @irahopkinson

# packages
/lib/browserslist-config-detect-electron @tjcouch-sil
/lib/papi-dts @tjcouch-sil @lyonsil @irahopkinson
# not papi.d.ts
/lib/papi-dts/papi.d.ts
/lib/platform-bible-react @jolierabideau @rolfheij-sil @tjcouch-sil @lyonsil @irahopkinson
/lib/platform-bible-utils @rolfheij-sil @tjcouch-sil @lyonsil @jolierabideau @irahopkinson

/src/**/services @tjcouch-sil @lyonsil @irahopkinson

# various config files at top level
/electron-builder.json5 @tjcouch-sil @lyonsil @irahopkinson
/nodemon.json @tjcouch-sil @lyonsil @irahopkinson
/package.json @tjcouch-sil @lyonsil @irahopkinson
/tsconfig.json @tjcouch-sil @lyonsil @irahopkinson
/tsconfig.lint.json @tjcouch-sil @lyonsil @irahopkinson
/vitest.config.js @tjcouch-sil @lyonsil @irahopkinson
